<div class="uk-row">
  <div class="uk-width-large-10-10 listing-header-txt">
    Listing New Form
  </div>
</div>
<div class="bdr-bottom"></div>
<%= nested_form_for @listing, html: { multipart: true, class: "uk-form uk-form-horizontal"}  do |f| %>
  <div class="uk-form-row"></div>
  <div class="uk-form-row">
    <%= f.label :business_name, 'Business Name', class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= f.text_field :business_name, :autofocus => true %>
    </div>
  </div>
  <div class="uk-form-row">
    <%= f.label :business_number, 'Business Number', class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= f.text_field :business_number %>
    </div>
  </div>
  <div class="uk-form-row">
    <label for="photos" class="uk-form-label">Photos</label>
    <div class="uk-form-controls">
      <%= f.fields_for :photos do |photos_form| %>
        <div class="uk-form-file">
          <button class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> Select Photos</button>
          <%= photos_form.file_field :image, multiple: true %>
        </div>
      <% end %>
    </div>
    <div class="clearboth spacer10"></div>
    <div id="listing-selected-files" class="uk-form-controls">

    </div>
  </div>
  <%# Video Upload Logic Goes Here %>
  <div class="uk-form-row">
    <div class="uk-form-controls">
      <button id="listing_submit" type="submit" class="uk-button uk-button-primary floatL">Create Listing</button>
      <div class="floatL listing-submit-msg uk-hidden"> <i class="uk-icon-spinner uk-icon-spin"></i> New Listing creating continue ...</div>
    </div>

  </div>
<% end %>
<div class="uk-grid">&nbsp;</div>
<div class="bdr-bottom"></div>
